spec/support/xsd/2.01.dev.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Modified 1.4.2013 -->
<!-- For Finvoice version 2.01 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  <xs:element name="Finvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AnyPartyDetails" type="AnyPartyDetailsType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="PaymentStatusDetails" type="PaymentStatusDetailsType" minOccurs="0"/>
        <xs:element name="PartialPaymentDetails" type="PartialPaymentDetailsType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="FactoringAgreementDetails" type="FactoringAgreementDetailsType" minOccurs="0"/>
        <xs:element name="InvoiceRow" type="InvoiceRowType" maxOccurs="unbounded"/>
        <xs:element name="SpecificationDetails" type="SpecificationDetailsType" minOccurs="0"/>
        <xs:element name="EpiDetails" type="EpiDetailsType"/>
        <xs:element name="AttachmentMessageDetails" type="AttachmentMessageDetailsType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AnyPartyDetailsType">
    <xs:sequence>
      <xs:element name="AnyPartyText" type="anypartytexttype0_35"/>
      <xs:element name="AnyPartyIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="AnyPartyOrganisationName" type="genericStringType2_35" maxOccurs="2"/>
      <xs:element name="AnyPartyOrganisationDepartment" type="genericStringType0_35" minOccurs="0" maxOccurs="2"/>
      <xs:element name="AnyPartyOrganisationTaxCode" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="AnyPartyCode" type="PartyIdentifierType" minOccurs="0"/>
      <xs:element name="AnyPartyContactPersonName" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="AnyPartyContactPersonFunction" type="genericStringType0_35" minOccurs="0" maxOccurs="2"/>
      <xs:element name="AnyPartyContactPersonDepartment" type="genericStringType0_35" minOccurs="0" maxOccurs="2"/>
      <xs:element name="AnyPartyCommunicationDetails" type="AnyPartyCommunicationDetailsType" minOccurs="0"/>
      <xs:element name="AnyPartyPostalAddressDetails" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AnyPartyStreetName" type="genericStringType2_35" maxOccurs="3"/>
            <xs:element name="AnyPartyTownName" type="genericStringType2_35"/>
            <xs:element name="AnyPartyPostCodeIdentifier" type="genericStringType2_35"/>
            <xs:element name="CountryCode" type="CountryCodeType" minOccurs="0"/>
            <xs:element name="CountryName" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="AnyPartyPostOfficeBoxIdentifier" type="genericStringType0_35" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AnyPartyOrganisationUnitNumber" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="AnyPartySiteCode" type="genericStringType0_35" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FactoringAgreementDetailsType">
    <xs:sequence>
      <xs:element name="FactoringAgreementIdentifier" type="genericStringType0_35"/>
      <xs:element name="TransmissionListIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="EndorsementClauseCode" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="FactoringTypeCode" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="FactoringFreeText" type="genericStringType0_70" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="FactoringPartyIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="FactoringPartyName" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="FactoringPartyPostalAddressDetails" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FactoringPartyStreetName" type="genericStringType2_35" maxOccurs="3"/>
            <xs:element name="FactoringPartyTownName" type="genericStringType2_35"/>
            <xs:element name="FactoringPartyPostCodeIdentifier" type="genericStringType2_35"/>
            <xs:element name="CountryCode" type="CountryCodeType" minOccurs="0"/>
            <xs:element name="CountryName" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="FactoringPartyPostOfficeBoxIdentifier" type="genericStringType0_35" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EpiAccountIDType">
    <xs:simpleContent>
      <xs:extension base="genericNMtokenType1_34">
        <xs:attribute name="IdentificationSchemeName" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="IBAN"/>
              <xs:enumeration value="BBAN"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EpiDetailsType">
    <xs:sequence>
      <xs:element name="EpiPaymentInstructionDetails" type="EpiPaymentInstructionDetailsType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EpiPaymentInstructionDetailsType">
    <xs:sequence>
      <xs:element name="EpiPaymentInstructionId" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="EpiTransactionTypeCode" type="genericTokenType3" minOccurs="0"/>
      <xs:element name="EpiInstructionCode" type="genericNMtokenType0_35" minOccurs="0"/>
      <xs:element name="EpiRemittanceInfoIdentifier" type="EpiRemittanceInfoIdentifierType" minOccurs="0"/>
      <xs:element name="EpiInstructedAmount" type="epiAmount"/>
      <xs:element name="EpiCharge" type="EpiChargeType"/>
      <xs:element name="EpiDateOptionDate" type="date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EpiChargeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ChargeOption" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="SHA"/>
              <xs:enumeration value="OUR"/>
              <xs:enumeration value="BEN"/>
              <xs:enumeration value="SLEV"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EpiRemittanceInfoIdentifierType">
    <xs:simpleContent>
      <xs:extension base="EpiRemittanceInfoIdentifierPattern">
        <xs:attribute name="IdentificationSchemeName">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="SPY"/>
              <xs:enumeration value="ISO"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="EpiRemittanceInfoIdentifierPattern">
    <xs:restriction base="xs:NMTOKEN">
      <xs:pattern value="([0-9]{2,20})|(RF[0-9][0-9][0-9A-Za-z]{1,21})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InvoiceRowType">
    <xs:sequence>
      <xs:element name="RowOverDuePaymentDetails" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RowOriginalInvoiceIdentifier" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="RowOriginalInvoiceDate" type="date" minOccurs="0"/>
            <xs:element name="RowOriginalDueDate" type="date" minOccurs="0"/>
            <xs:element name="RowOriginalInvoiceTotalAmount" type="amount" minOccurs="0"/>
            <xs:element name="RowOriginalEpiRemittanceInfoIdentifier" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="RowPaidVatExcludedAmount" type="amount" minOccurs="0"/>
            <xs:element name="RowPaidVatIncludedAmount" type="amount" minOccurs="0"/>
            <xs:element name="RowPaidDate" type="date" minOccurs="0"/>
            <xs:element name="RowUnPaidVatExcludedAmount" type="amount" minOccurs="0"/>
            <xs:element name="RowUnPaidVatIncludedAmount" type="amount" minOccurs="0"/>
            <xs:element name="RowCollectionDate" type="date" minOccurs="0"/>
            <xs:element name="RowCollectionQuantity" type="QuantityType0_14" minOccurs="0"/>
            <xs:element name="RowCollectionChargeAmount" type="amount" minOccurs="0"/>
            <xs:element name="RowInterestRate" type="percentage" minOccurs="0"/>
            <xs:element name="RowInterestStartDate" type="date" minOccurs="0"/>
            <xs:element name="RowInterestEndDate" type="date" minOccurs="0"/>
            <xs:element name="RowInterestPeriodText" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="RowInterestDateNumber" type="genericNMtokenType0_14" minOccurs="0"/>
            <xs:element name="RowInterestChargeAmount" type="amount" minOccurs="0"/>
            <xs:element name="RowInterestChargeVatAmount" type="amount" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RowAnyPartyDetails" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RowAnyPartyText" type="anypartytexttype0_35"/>
            <xs:element name="RowAnyPartyIdentifier" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="RowAnyPartyOrganisationName" type="genericStringType2_35" maxOccurs="2"/>
            <xs:element name="RowAnyPartyOrganisationDepartment" type="genericStringType0_35" minOccurs="0"
                        maxOccurs="2"/>
            <xs:element name="RowAnyPartyOrganisationTaxCode" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="RowAnyPartyPostalAddressDetails" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="RowAnyPartyStreetName" type="genericStringType2_35" maxOccurs="3"/>
                  <xs:element name="RowAnyPartyTownName" type="genericStringType2_35"/>
                  <xs:element name="RowAnyPartyPostCodeIdentifier" type="genericStringType2_35"/>
                  <xs:element name="CountryCode" type="CountryCodeType" minOccurs="0"/>
                  <xs:element name="CountryName" type="genericStringType0_35" minOccurs="0"/>
                  <xs:element name="RowAnyPartyPostOfficeBoxIdentifier" type="genericStringType0_35" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="RowAnyPartyOrganisationUnitNumber" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="RowAnyPartySiteCode" type="genericStringType0_35" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RowDeliveryDetails" type="RowDeliveryDetailsType" minOccurs="0"/>
      <xs:element name="RowProgressiveDiscountDetails" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RowDiscountPercent" type="percentage" minOccurs="0"/>
            <xs:element name="RowDiscountAmount" type="amount" minOccurs="0"/>
            <xs:element name="RowDiscountTypeCode" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="RowDiscountTypeText" type="genericStringType0_35" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RowTransactionDetails" type="TransactionDetailsType" minOccurs="0"/>
      <xs:element name="SubInvoiceRow" type="SubInvoiceRowType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="InvoiceTypeCodePattern">
    <xs:restriction base="xs:NMTOKEN">
      <xs:pattern value="(REQ|QUO|ORD|ORC|INV|DEV|TES|INF|PRI|DEN|SEI)[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InvoiceTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="InvoiceTypeCodePattern">
        <xs:attribute name="CodeListAgencyIdentifier">
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="SPY"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="OriginCodeType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Original"/>
      <xs:enumeration value="Copy"/>
      <xs:enumeration value="Cancel"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PartialPaymentDetailsType">
    <xs:sequence>
      <xs:element name="PaidAmount" type="amount"/>
      <xs:element name="PaidVatExcludedAmount" type="amount" minOccurs="0"/>
      <xs:element name="UnPaidAmount" type="amount"/>
      <xs:element name="UnPaidVatExcludedAmount" type="amount" minOccurs="0"/>
      <xs:element name="InterestPercent" type="percentage" minOccurs="0"/>
      <xs:element name="ProsessingCostsAmount" type="amount" minOccurs="0"/>
      <xs:element name="PartialPaymentVatIncludedAmount" type="amount" maxOccurs="unbounded"/>
      <xs:element name="PartialPaymentVatExcludedAmount" type="amount" maxOccurs="unbounded"/>
      <xs:element name="PartialPaymentDueDate" type="date" maxOccurs="unbounded"/>
      <xs:element name="PartialPaymentReferenceIdentifier" type="genericStringType2_35" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentStatusCodeType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="PAID"/>
      <xs:enumeration value="NOTPAID"/>
      <xs:enumeration value="PARTLYPAID"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentStatusDetailsType">
    <xs:sequence>
      <xs:element name="PaymentStatusCode" type="PaymentStatusCodeType" minOccurs="0"/>
      <xs:element name="PaymentMethodText" type="genericStringType0_35" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RowDeliveryDetailsType">
    <xs:sequence>
      <xs:element name="RowTerminalAddressText" type="genericStringType0_70" minOccurs="0"/>
      <xs:element name="RowWaybillIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowWaybillTypeCode" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowClearanceIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowDeliveryNoteIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowDelivererIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowDelivererName" type="genericStringType0_35" minOccurs="0" maxOccurs="3"/>
      <xs:element name="RowDelivererCountryCode" type="CountryCodeType" minOccurs="0"/>
      <xs:element name="RowDelivererCountryName" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowModeOfTransportIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowCarrierName" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowVesselName" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowLocationIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowTransportInformationDate" type="date" minOccurs="0"/>
      <xs:element name="RowCountryOfOrigin" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowCountryOfDestinationName" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowDestinationCountryCode" type="CountryCodeType" minOccurs="0"/>
      <xs:element name="RowPlaceOfDischarge" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowFinalDestinationName" type="genericStringType0_35" minOccurs="0" maxOccurs="3"/>
      <xs:element name="RowCustomsInfo" type="CustomsInfoType" minOccurs="0"/>
      <xs:element name="RowManufacturerArticleIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowManufacturerIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowManufacturerName" type="genericStringType0_35" minOccurs="0" maxOccurs="3"/>
      <xs:element name="RowManufacturerCountryCode" type="CountryCodeType" minOccurs="0"/>
      <xs:element name="RowManufacturerCountryName" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowManufacturerOrderIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="RowPackageDetails" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RowPackageLength" type="QuantityType0_14" minOccurs="0"/>
            <xs:element name="RowPackageWidth" type="QuantityType0_14" minOccurs="0"/>
            <xs:element name="RowPackageHeight" type="QuantityType0_14" minOccurs="0"/>
            <xs:element name="RowPackageWeight" type="QuantityType0_14" minOccurs="0"/>
            <xs:element name="RowPackageNetWeight" type="QuantityType0_14" minOccurs="0"/>
            <xs:element name="RowPackageVolume" type="QuantityType0_14" minOccurs="0"/>
            <xs:element name="RowTransportCarriageQuantity" type="QuantityType0_14" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SellerPostalAddressDetailsType">
    <xs:sequence>
      <xs:element name="SellerStreetName" type="genericStringType2_35" maxOccurs="3"/>
      <xs:element name="SellerTownName" type="genericStringType2_35"/>
      <xs:element name="SellerPostCodeIdentifier" type="genericStringType2_35"/>
      <xs:element name="CountryCode" type="CountryCodeType" minOccurs="0"/>
      <xs:element name="CountryName" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="SellerPostOfficeBoxIdentifier" type="genericStringType0_35" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnyPartyCommunicationDetailsType">
    <xs:sequence>
      <xs:element name="AnyPartyPhoneNumberIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="AnyPartyEmailAddressIdentifier" type="genericStringType0_70" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecificationDetailsType">
    <xs:sequence>
      <xs:element name="SpecificationFreeText" type="genericStringType0_80" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ExternalSpecificationDetails" type="ExternalSpecificationDetailsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExternalSpecificationDetailsType">
    <xs:sequence>
      <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubInvoiceRowType">
    <xs:sequence>
      <xs:element name="SubRowOverDuePaymentDetails" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SubRowOriginalInvoiceIdentifier" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="SubRowOriginalInvoiceDate" type="date" minOccurs="0"/>
            <xs:element name="SubRowOriginalDueDate" type="date" minOccurs="0"/>
            <xs:element name="SubRowOriginalInvoiceTotalAmount" type="amount" minOccurs="0"/>
            <xs:element name="SubRowOriginalEpiRemittanceInfoIdentifier" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="SubRowPaidVatExcludedAmount" type="amount" minOccurs="0"/>
            <xs:element name="SubRowPaidVatIncludedAmount" type="amount" minOccurs="0"/>
            <xs:element name="SubRowPaidDate" type="date" minOccurs="0"/>
            <xs:element name="SubRowUnPaidVatExcludedAmount" type="amount" minOccurs="0"/>
            <xs:element name="SubRowUnPaidVatIncludedAmount" type="amount" minOccurs="0"/>
            <xs:element name="SubRowCollectionDate" type="date" minOccurs="0"/>
            <xs:element name="SubRowCollectionQuantity" type="QuantityType0_14" minOccurs="0"/>
            <xs:element name="SubRowCollectionChargeAmount" type="amount" minOccurs="0"/>
            <xs:element name="SubRowInterestRate" type="percentage" minOccurs="0"/>
            <xs:element name="SubRowInterestStartDate" type="date" minOccurs="0"/>
            <xs:element name="SubRowInterestEndDate" type="date" minOccurs="0"/>
            <xs:element name="SubRowInterestPeriodText" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="SubRowInterestDateNumber" type="genericNMtokenType0_14" minOccurs="0"/>
            <xs:element name="SubRowInterestChargeAmount" type="amount" minOccurs="0"/>
            <xs:element name="SubRowInterestChargeVatAmount" type="amount" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubRowAnyPartyDetails" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SubRowAnyPartyText" type="anypartytexttype0_35"/>
            <xs:element name="SubRowAnyPartyIdentifier" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="SubRowAnyPartyOrganisationName" type="genericStringType2_35" maxOccurs="2"/>
            <xs:element name="SubRowAnyPartyOrganisationDepartment" type="genericStringType0_35" minOccurs="0"
                        maxOccurs="2"/>
            <xs:element name="SubRowAnyPartyOrganisationTaxCode" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="SubRowAnyPartyPostalAddressDetails" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="SubRowAnyPartyStreetName" type="genericStringType2_35" maxOccurs="3"/>
                  <xs:element name="SubRowAnyPartyTownName" type="genericStringType2_35"/>
                  <xs:element name="SubRowAnyPartyPostCodeIdentifier" type="genericStringType2_35"/>
                  <xs:element name="CountryCode" type="CountryCodeType" minOccurs="0"/>
                  <xs:element name="CountryName" type="genericStringType0_35" minOccurs="0"/>
                  <xs:element name="SubRowAnyPartyPostOfficeBoxIdentifier" type="genericStringType0_35" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="SubRowAnyPartyOrganisationUnitNumber" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="SubRowAnyPartySiteCode" type="genericStringType0_35" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubRowDeliveryDetails" type="SubRowDeliveryDetailsType" minOccurs="0"/>
      <xs:element name="SubRowProgressiveDiscountDetails" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SubRowDiscountPercent" type="percentage" minOccurs="0"/>
            <xs:element name="SubRowDiscountAmount" type="amount" minOccurs="0"/>
            <xs:element name="SubRowDiscountTypeCode" type="genericStringType0_35" minOccurs="0"/>
            <xs:element name="SubRowDiscountTypeText" type="genericStringType0_35" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubRowTransactionDetails" type="TransactionDetailsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubRowDeliveryDetailsType">
    <xs:sequence>
      <xs:element name="SubRowTerminalAddressText" type="genericStringType0_70" minOccurs="0"/>
      <xs:element name="SubRowWaybillIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="SubRowWaybillTypeCode" type="genericNMtokenType0_35" minOccurs="0"/>
      <xs:element name="SubRowClearanceIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="SubRowDeliveryNoteIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="SubRowDelivererIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="SubRowDelivererName" type="genericStringType0_35" minOccurs="0" maxOccurs="3"/>
      <xs:element name="SubRowDelivererCountryCode" type="CountryCodeType" minOccurs="0"/>
      <xs:element name="SubRowDelivererCountryName" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="SubRowPlaceOfDischarge" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="SubRowFinalDestinationName" type="genericStringType0_35" minOccurs="0" maxOccurs="3"/>
      <xs:element name="SubRowCustomsInfo" type="CustomsInfoType" minOccurs="0"/>
      <xs:element name="SubRowManufacturerArticleIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="SubRowManufacturerIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="SubRowManufacturerName" type="genericStringType0_35" minOccurs="0" maxOccurs="3"/>
      <xs:element name="SubRowManufacturerCountryCode" type="CountryCodeType" minOccurs="0"/>
      <xs:element name="SubRowManufacturerCountryName" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="SubRowManufacturerOrderIdentifier" type="genericStringType0_35" minOccurs="0"/>
      <xs:element name="SubRowPackageDetails" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SubRowPackageLength" type="QuantityType0_14" minOccurs="0"/>
            <xs:element name="SubRowPackageWidth" type="QuantityType0_14" minOccurs="0"/>
            <xs:element name="SubRowPackageHeight" type="QuantityType0_14" minOccurs="0"/>
            <xs:element name="SubRowPackageWeight" type="QuantityType0_14" minOccurs="0"/>
            <xs:element name="SubRowPackageNetWeight" type="QuantityType0_14" minOccurs="0"/>
            <xs:element name="SubRowPackageVolume" type="QuantityType0_14" minOccurs="0"/>
            <xs:element name="SubRowTransportCarriageQuantity" type="QuantityType0_14" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentifierType">
    <xs:simpleContent>
      <xs:extension base="genericStringType0_35">
        <xs:attribute name="IdentifierType">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="DUNS"/>
              <xs:enumeration value="GLN"/>
              <xs:enumeration value="HETU"/>
              <xs:enumeration value="EDI"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CustomsInfoType">
    <xs:sequence>
      <xs:element name="CNCode" type="genericStringType1_8" minOccurs="0"/>
      <xs:element name="CNName" type="genericStringType1_35" minOccurs="0"/>
      <xs:element name="CNOriginCountryCode" type="CountryCodeType" minOccurs="0"/>
      <xs:element name="CNOriginCountryName" type="genericStringType1_35" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionDetailsType">
    <xs:sequence>
      <xs:element name="OtherCurrencyAmount" type="amount" minOccurs="0"/>
      <xs:element name="ExchangeRate" type="exchangeRate" minOccurs="0"/>
      <xs:element name="ExchangeDate" type="date" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttachmentMessageDetailsType">
    <xs:sequence>
      <xs:element name="AttachmentMessageIdentifier" type="genericStringType15_61"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Common types -->
  <xs:complexType name="AnyPartyTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="AnyPartyCode" type="genericTokenType0_35" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="anypartytexttype0_35">
    <xs:simpleContent>
      <xs:restriction base="AnyPartyTextType">
        <xs:minLength value="0"/>
        <xs:maxLength value="35"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="dateType">
    <xs:restriction base="xs:integer">
      <xs:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:length value="2"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
